<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/Bdaya-Dev/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="AhmedKhalil777" />
			<add key="ClearTextPassword" value="70ceefcdcb70aadcf45634567afd026cb751d018" />
		</github>
	</packageSourceCredentials>
</configuration>
