<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/Bdaya-Dev/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="AhmedKhalil777" />
			<add key="ClearTextPassword" value="43ad0a105ac3986f9cf36e5e375d5758e06214a9" />
		</github>
	</packageSourceCredentials>
</configuration>
